@import "bootstrap-sprockets";
@import "bootstrap";

html {
  overflow-y: scroll;
}

.number {
  
    height: 40px;
    width: 40px;
    border-radius: 3px;
    border: solid black ;
    background-color: lightgray;
    display: inline-block;
    margin-left: 4px;
    margin-top: 4px;
    text-align: center;
    font-size: 30px;
}

.callbutton {
  
    height: 50px;
    width: 140px;
    border-radius: 3px;
    border: solid black ;
    background-color: lightgreen;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    font-size: 25px;
    color: black; 
}

body {
  padding-top: 60px;
  padding-left: 100px;
  padding-right: 100px;
  
  
}

.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;
}

.logo a {
  color: white;
}

.logo a:hover {
  color: #fff;
  text-decoration: none;
}

.navlinks {
  padding-top: 16px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}