<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="logo"><%= link_to "Rails Phone", '#' %></div>
      <nav>
        <ul class="nav navbar-nav pull-right">
          <div class="navlinks">
            <%= link_to "Logout", '#' %>
          </div>
        </ul>
      </nav>
  </div>
</header>